body{
    color: black;
}
.dark {
    background-color: black;
    color: white;
  }
  .change {
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 40%;
    width: 20px;
    text-align: center;
    padding: 5px;
    margin-left: 8px;
}
.mode {
    text-align: right;
    padding: 20px;
    padding-left: 100px;
}
nav .logo h1 {
    font-size: 20px;
}

nav {
    display: flex;
    width: 80%;
    height: 80px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}


a {
    text-decoration: none !important;
    color: black ;
}

li {
    list-style: none;
    cursor: pointer;
}

nav .nav-list ul {
    display: flex;
}

nav .nav-list ul li {
    padding: 16px 22px;
}

nav .nav-list ul li a {
    font-size: 18px;
}
i{
    font-size: 30px;
}


body{
    background-color: #F2F3F5;
}

ul li a{
    color: black;
}

.text h2{
    font-weight: bold;
    margin-top: 30px;
    margin: 40px 130px;
}

.btn:hover{
    background-color: red;
}

.card-title{
    font-weight: bold;
}

.card-title:hover{
    color: blue;
    cursor: pointer;
}

.card-text{
    font-weight: 600;
}

.logo2{
    display: none;
}
.basket i{
    font-size: 25px;
}
.basket{
   float: right;
   margin-right: 50px;
   margin-top: 5px;
   display: flex;
   cursor: pointer;
   
}
.modal{
         display: none;
        margin-left: 500px;
          width: 40%;
          height: 40vh;
          border: 1px solid black;
          background-color: white  ;
}
.modalclose{
    margin-left: 100px;
    margin-top: 10px;
    cursor: pointer;
}
.modalmain{
    text-align: center;
}
.modalhead{
   
    display: flex;
    gap: 370px;
    height: 50px;
    background-color: rgb(39, 91, 169);
    color: white;
   
}

.totalcount{
    font-size: 15px;
    background-color: red;
    border-radius: 50%;
    width: 10px;
    height: 17px;
    text-align: center;
    margin-right: 20px;
    color: white;
}


/* .hi-slide{
    position: relative;
    width: 754px;
    height: 292px;
    margin: 115px auto 0;
}

.hi-slide .hi-prev,
.hi-slide .hi-next{
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: all 0.7s;
    font-size: 20px;
    font-weight: bold;
}

.hi-slide .hi-next:hover,
.hi-slide .hi-prev:hover{
    opacity: 1;
    background-color: white;
}

.hi-slide .hi-prev{
    left: -70px;
}

.hi-slide .hi-prev::before{
    content: '<';
}

.hi-slide .hi-next{
    right: -70px;
}

.hi-slide .hi-next::before{
    content: '>';
}

.hi-slide > ul{
    list-style: none;
    position: relative;
    width: 754px;
    height: 292px;
    margin: 0;
    padding: 0; 
}

.hi-slide > ul > li{
    /* overflow: hidden; */

